@import "home";
body{
  background-color: #05B0E314;
}

#show-profile{
  height: 458px;
  width: 465px;
  object-fit: cover;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 8px;
}

#img-map{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 30px;
}

#main-container{
  display: flex;
}

#book-container{
  display: flex;
  align-items: center;
  margin-top: 50px;
  float: left;
}

#book-container p, a{
  margin: 0 60px 0 0;
}

.interest-ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  margin-top: 20px;
  max-width: 420px;
}

.class{
  font-size: 50px;
}

.book-button{
  background: linear-gradient(#bc8d0ec4,#FABD0FC4);
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 15px 0px;
  text-decoration: none;
  padding: 6px 20px;
  color: black;
}

.book-button:hover{
  box-shadow: 5px 10px 8px #888888;
  color: black;
  background: linear-gradient(#89670ac4,#d19d0dc4);
}

.back-friends-button{
  background: linear-gradient(#0eaabfad,#0FDEFAAD);
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 15px 0px;
  text-decoration: none;
  padding: 6px 20px;
  color: black;
}

#description{
  max-width: 465px;
}

#back-to-friends{
  margin-top: 45px;
}

.back-friends-button:hover{
  box-shadow: 5px 10px 8px #888888;
  color: black;
  background: linear-gradient(#0b90a1ad,#0cbad1ad);
}

p{
  font-size: 20px;
}

h2{
  margin-top: 5px;
}

.interest-list{
  font-size: 18px;
}
