.submit-btn {
  padding: 8px 18px;
  background-color: #0FDEFA;
  border-radius: 8px 0 8px 0;
  margin-bottom: 20px;
}

.back-btn {
  padding: 8px 18px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px 0 8px 0;
  border: 0.5px solid black;
}

.btn-sign-up{
  padding: 8px 18px;
  background-color: #FABD0F;
  border-radius: 8px 0 8px 0;
  margin-bottom: 20px;
}
