.form-container {
  width: 50%;
  background-color: white;
  padding: 40px;
  margin: auto;
  margin-top: 100px;
  border: 0.5px solid #aaaaaa;
  box-shadow: 6px 6px 5px #aaaaaa;
  border-radius: 8px;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 40px;
}
